# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.nn# dependenciesn/node_modulesn/.pnpn.pnp.jsnn# testingn/coveragenn# next.jsn/.next/nout/nnn# productionn/buildnn# miscn.DS_Storen*.pemnn# debugnnpm-debug.log*nnyarn-debug.log*nyarn-error.log*nn.pnpm-debug.log*nn# local env filesn.env*.localnn# verceln.vercelnn# typescriptn*.tsbuildinfonnext-env.d.tsnn# IDE filesn.vscode/n.idea/nn# OS filesnThumbs.dbnDesktop.ini